html,
body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Roboto", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a {
  text-decoration: none;
}

.top_nav {
  margin: 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

.top_black_navigation a {
  text-decoration: none;
  margin: 1px;
  color: white;
}

.ul_left,
.ul_right {
  padding: 0 5px;
}

.mobile_nav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.top_navigation {
  width: 100%;
  height: 48px;
  background-color: white;
}

.more_links_nav {
  width: 100%;
}

.tnw_logo img {
  width: 106px;
  height: 48px;
}

.tnw_logo {
  width: 106px;
  height: 48px;
}

.search_logo_top {
  text-align: center;
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  height: 48px;
  width: 48px;
  border: 1px solid lightgray;
}

.top_menu {
  text-align: center;
}

.search_logo_top img,
.top_menu img {
  margin: auto;
  width: 16px;
  height: 16px;
}

/* Latest news */
.latest_container {
  margin: 20px 10px 20px 10px;
}

.most_header a {
  color: #f42;
}

.latest_header {
  text-align: left;
}

.latest_header h5 {
  font-size: 14px;
  margin-top: 15px;
  margin-left: 20px;
}

.author_article {
  font-size: small;
  color: rgb(136, 130, 130);
  margin-top: 0;
  margin-left: 20px;
}

.vert_align {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.yellow_banner {
  padding-left: 6px;
  padding-right: 6px;
  width: 100%;
  background-color: yellow;
  font-size: 13px;
}

.yellow_banner a {
  width: 480px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: black;
}

.art h2,
.art_x h2 {
  margin-top: 8px;
  margin-right: 8px;
}

.art img,
.art_x img {
  width: 60px;
  height: 60px;
  margin-top: 10px;
}

.articles hr {
  color: #f42;
}

.links_latest {
  color: #f42;
}

.links_latest a {
  color: #f42;
}

.orange {
  display: flex;
  background-color: #f42;
  color: white;
  height: 43px;
}

.orange a {
  color: white;
  margin-left: 10px;
}

.pink {
  background: #ffebe7;
  height: 60px;
  padding-left: 10px;
}

.pink_text {
  padding-top: 5px;
  width: 100px;
  height: 100%;
  position: relative;
  left: 80px;
}

.pink_text h3 {
  margin-top: 15px;
  line-height: 0px;
}

.pink a {
  color: gray;
}

.extra_info,
.description {
  background-color: #fffaf8;
  padding-left: 10px;
}

.extra_info a,
.description a {
  color: gray;
}

.art,
.art_x,
.links_latest {
  padding: 5px;
}

.headlines {
  font-size: 12px;
  margin-right: 20px;
}

.news_text,
.orange_shadow {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  padding-left: 8px;
}

.news_text a,
.news_text p {
  margin-right: 10px;
  color: white;
  text-shadow: 1px 1px gray;
}

.news_headline {
  background-image: url("images/hg3.jpg");
}

.news_headline2 {
  background-image: url("images/hg1.webp");
}

.news_headline3 {
  background-image: url("images/hg2.webp");
}

.footer-container {
  background: black;
}

.links_container {
  padding: 20px 0;
  background-color: rgb(22, 22, 22);
  text-align: center;
}

.footer_links {
  display: block;
}

.footer_links img {
  width: 20px;
  height: 20px;
  background: rgb(17, 15, 15);
  padding: 5px;
  border-radius: 50%;
}

.ft_links a {
  text-decoration: none;
  font-size: small;
  color: blanchedalmond;
}

.other_links a {
  padding: 5px;
}

.footer_lower {
  display: block;
  font-size: 14px;
  text-align: center;
  color: white;
  background: black;
  line-height: 1.2;
}

.footer_legal a {
  text-decoration: none;
  color: white;
}

.footer_links a:hover {
  opacity: 0.5;
}

.footer-legal-StackPath {
  width: 100px;
  height: 70px;
}

.footer-legal,
.footer-legal-StackPath {
  display: inline-block;
  height: 20px;
  width: auto;
  margin-right: 1px;
  vertical-align: baseline;
}
