@media only screen and (max-width: 768px) {
  .left_nav,
  .right_nav,
  .top_black_navigation {
    display: none;
  }

  .links_latest {
    display: flex;
    flex-direction: column;
  }

  .footer-legal {
    display: inline;
  }

  .top_black_navigation {
    display: none;
  }

  .news_headline {
    margin-top: 108px;
  }

  .more_links {
    display: none;
  }

  .top_menu {
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    height: 48px;
    width: 48px;
    border: 1px solid lightgray;
  }

  .news_headline,
  .news_headline2,
  .news_headline3 {
    width: 100%;
    height: 170px;
    margin-left: 5px;
    margin-right: 5px;
    background-size: cover;
  }

  .most-news {
    grid-template-columns: 3px;
  }

  .latest_news {
    display: flex;
  }

  .latest_news img {
    width: 80px;
    height: 80px;
    padding: 0;
  }
}

@media only screen and (min-width: 768px) {
  .top_menu {
    display: none;
  }

  .top_black_navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    font-size: 11px;
    height: 32px;
  }

  .ul_left {
    float: left;
  }

  .ul_right {
    float: right;
  }

  .more_links a {
    text-decoration: none;
    font-size: 12px;
    color: gray;
  }

  .more_links a:hover {
    color: black;
  }

  .more_links {
    padding-left: 20px;
  }

  .space {
    margin-bottom: 12px;
  }

  .headlines {
    display: flex;
    margin-top: 140px;
  }

  .news_headline {
    width: 130%;
    height: 330px;
    margin-left: 5px;
    margin-right: 5px;
    background-size: cover;
  }

  .right_news_headlines {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .news_headline2,
  .news_headline3 {
    width: 100%;
    height: auto;
    margin-left: 5px;
    margin-right: 5px;
    background-size: cover;
  }

  .articles {
    display: flex;
  }

  .art_x {
    display: none;
  }

  .latest_news div {
    padding-right: 5px;
  }
}

@media only screen and (min-width: 769px) {
  .most_news {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .latest_news img {
    width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 1048px) {
  .art_x {
    display: block;
  }
}
