.left_nav,
.right_nav,
.top_black_navigation {
  display: none;
}

.footer_legal {
  display: inline;
}

.top_black_navigation {
  display: none;
}

.news_headline {
  margin-top: 108px;
}

.orange_shadow {
  display: none;
}

.hg_date_logo {
  display: none;
}

.more_links {
  display: none;
}

.top_menu {
  padding: 0 8px;
  display: flex;
  flex-direction: column;
  height: 48px;
  width: 48px;
  border: 1px solid lightgray;
}

.yellow_banner {
  height: 60px;
}

.news_headline,
.news_headline2,
.news_headline3 {
  width: 100%;
  height: 177px;
  margin-left: 5px;
  margin-right: 5px;
  background-size: cover;
}

.middle_container {
  margin: 0 15px;
}

.most-news {
  grid-template-columns: 3px;
}

.latest_news {
  display: flex;
}

.latest_news img {
  width: 80px;
  height: 80px;
  padding: 0;
}

.articles {
  display: flex;
  flex-direction: column;
}

.art_x {
  display: none;
}

.list_deals {
  position: relative;
  display: flex;
  height: 70px;
  margin: 20px 0;
}

.list_deals img {
  width: 75px;
  height: 75px;
}

.deals_promo {
  display: none;
}

@media only screen and (min-width: 768px) {
  .top_menu {
    display: none;
  }

  .top_black_navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    font-size: 11px;
    height: 32px;
  }

  .left_nav,
  .right_nav {
    display: block;
  }

  .ul_left {
    float: left;
  }

  .ul_right {
    float: right;
  }

  .more_links a {
    text-decoration: none;
    font-size: 12px;
    color: gray;
    margin-right: 10px;
    font-weight: bold;
  }

  .more_links a:hover {
    color: black;
  }

  .more_links {
    display: block;
    padding-left: 20px;
  }

  .space {
    margin-bottom: 12px;
  }

  .yellow_banner {
    height: 30px;
  }

  .headlines {
    display: flex;
    margin-top: 110px;
    height: 432px;
  }

  .hg_date_logo {
    display: none;
  }

  .news_headline {
    width: 130%;
    height: 100%;
    margin: 0 5px;
    background-size: cover;
  }

  .right_news_headlines {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .news_headline2,
  .news_headline3 {
    width: 100%;
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
    background-size: cover;
  }

  .most_popular {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
  }

  .articles {
    flex-direction: row;
  }

  .art_x {
    display: none;
  }

  .latest_news {
    display: flex;
    flex-direction: column;
  }

  .latest_news div {
    margin: 0 10px;
  }

  .most_news {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .latest_news img {
    width: 100%;
    height: auto;
  }

  .list_deals_container {
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .list_deals {
    display: flex;
    flex-direction: column;
    height: 270px;
    margin: 20px 0;
  }

  .list_deals img {
    width: 100%;
    height: auto;
  }

  .list_img {
    margin: 0 10px;
  }

  .deals_promo strong {
    transform: rotate(45deg);
    position: absolute;
    top: 25px;
    right: 5px;
    font-size: 13px;
  }

  .deals_promo {
    display: block;
    position: absolute;
    top: 0;
    right: 10px;
    width: 80px;
    height: 80px;
    background-image: url("images/deals-ribbon.svg");
  }
}


@media only screen and (min-width: 1024px) {
  .art_x {
    display: block;
  }

  .tnw_logo {
    display: none;
  }

  .headlines {
    height: 544px;
  }

  .news_headline {
    height: 100%;
  }

  .news_headline a {
    font-size: 26px;
  }

  .hg_date_logo {
    display: flex;
    height: 100%;
    justify-content: space-between;
  }

  .hg_date_logo svg {
    width: 50%;
    height: 110px;
    margin: 10px;
  }

  .orange_shadow {
    background-image: url("images/cover-gradient.webp");
    background-size: cover;
  }

  .list_deals_container {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

  .most_popular {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  .middle_container {
    margin: auto;
    width: 1100px;
  }
}
